
* {
    font-weight: 800;
}

p {
color: brown;
background-color: lightgrey;

size: 20px;
}



ul { color: #092025;
    background-color: lightskyblue;
   

font-style: italic;
}

ol {
  background-color: rgb(113, 173, 143);
    color: #1a3d33;
    
}



 